__pycache__
*/__pycache__
**/__pycache__
docs/build/
tmp/
doctrees
/quat.egg-info/
videos
docs/.doctrees/
docs/_sources/
docs/objects.inv

# output by CLI tools
# brisque/nique
reports
# cuts
results
# siti
siti_reports
# psnr
psnr
